* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkorange;
  color: #fff;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.counter {
  font-size: 4rem;
  margin-top: 1rem;
}

.logo {
  height: 3rem;
  width: 3rem;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
